<div class="container-fluid home">

    <div class="location">
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <select2 [data]="exampleData" class="form-control"></select2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <select name="" id="" class="form-control">
                        <option value="">yeststts </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
</div>